.results-container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.activity-message {
    font-size: 2rem;
    padding-top: 5rem;
}

.container-post {
    padding: 1rem;
}

.post-title {
    padding: 0.5rem;
}