.home {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
    width: 100%;
    min-height: 100vh;
}

.title {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;

    padding-top: 2em;
}
.subtitle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    }

.form-recherche-home {
    display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;

    margin-top: 3em;
    padding: 2em;
}

.search{
    padding-left: 0.4em;
}
.ui-form  {
    display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.form {
   padding: 0.5em;

}
.icon {
    padding-left: 0.5em;
}

.form-activity {
margin-right: 0.5em;
}
.text-home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 11em;
    padding: 4em;
}


