/* This is to be able to style the name of the filter;*/

.filter-style {
  width: 8rem ;
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1.7rem;;
  background-color:#00B5AD;
  border-radius: 10px;
  color: white;
  border: none;

  &:hover {
    background-color: darken(#00B5AD, 10%);
  }
}

.global-container { 
  display : flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
}

.filter-title{
  margin-left: 4rem;
  margin-bottom: 0.2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.2rem;
  font-size: 1.2rem;
}

/* This is to be able to position the buttons; */
.filters-container {
  margin-left: 6rem;
}

/* This is to be able to style the buttons;*/
.cat{
  margin: 3px;
  background-color: #00B5AD;
  border-radius: 10px;
  border: 1px solid #fff;
  overflow: hidden;
  float: left;
}

 /* This is to be able to style the buttons;*/
.cat label {
  float: left; 
  width: 10rem; 
  height: 3rem;
  
}

/* This is to be able to style the titles of the buttons;*/
.cat label span {
  text-align: center;
  padding: 1em 0;
  display: block;
}

/* This is to be able to style the checkbox;*/
.cat label input {
  display: none;
  color: #fff;
}

 /* selects all of the text within the input element and changes the color of the text */
 .cat label input + span {
  color: #fff;
}
/* This is to be able to style the buttons in click;*/
.action input:checked + span{background-color:#30d7cf;}



  

  

 
  

